/*
* Vista ~Small-Medium Portatil
*/
@media only screen and (max-width: 1400px) {
    .infra-contenedor img {
        width: 85%;
    }
}

/*
* Vista ~Tablet
*/
@media only screen and (max-width: 1200px) {
    .quienes-somos-contenedor {
        grid-template-columns: 1fr;
        padding: 0rem 0.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    .quienes-somos-contenedor {
        grid-template-columns: 1fr;
        padding: 0rem 0.5rem;
    }
}
